<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title >Insert title here</title>
</head>
<body>
<section>
<h1>This is setting Dashboard</h1>

	<div class="container" >
		<div class="row" >
			<div class="col-md-12" >
			
				<div class="card">
				
					<div class="card-body" >
						<h3>change password</h3>
						<form th:action="@{/user/change-password}" method="post">
						
							<!-- old password field -->
							<div class="form-group" >
								<input name="oldPassword" type="password" class="form-control" placeholder="Enter old password" >
							
							</div>
						
							<!-- new password field -->
							<div class="form-group" >
								<input name="newPassword" type="password" class="form-control" placeholder="Enter new password" >
							
							</div>
						
							<div class="container text-center"  >
								<button type="submit" class="btn btn-success" >Change</button>
								<button type="reset" class="btn btn-warning" >reset</button>
							</div>	
						</form>
					</div>
				
				</div>
			</div>
		
		</div>
	
	</div>


	<script type="text/javascript">
		$(document).ready(()=>{
			$(".item").removeClass("active")	

			$("#settings-link").addClass("active")

		})

	</script>

</section>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
<h1>Welcome your normal user</h1>
<h1>This is your private dashboard</h1>
<h1>User Name <span th:text="${user.name}"></span></h1>
<h1>User Name <span th:text="${user.email}"></span></h1>
<h1><a href="" th:href="@{/logout}">Logout </a></h1>


</body>
</html>
 -->
