<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title >Insert title here</title>
</head>
<body>
<section>
<h1>This is private Dashboard</h1>

<div class="container">
	<div class="card">
		<div class="card-body text-center">
		
			 <img src="" style="height:200px; width:200px;" class="my_profile_picture" th:src="@{'/img/cotact_logo.png'}" alt="profile photo"/>
		
		
		</div>
		
		<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
		Start adding your contact on cloud...
		
		</h1>
	<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mt-4">Add new contact </a>

		<hr />
<h3 class="my-4">Donate Us</h3>
<input id="payment_field" type="text" class="form-control my-2" placeholder="Enter Amount here">
		
	<div class="container text-center" >
		<button onclick="paymentStart()" class="btn btn-success btn-block" >PAY</button>
	</div>
	</div>

</div>

	<script type="text/javascript">
		$(document).ready(()=>{
			$(".item").removeClass("active")	

			$("#home-link").addClass("active")

		})

	</script>

</section>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
<h1>Welcome your normal user</h1>
<h1>This is your private dashboard</h1>
<h1>User Name <span th:text="${user.name}"></span></h1>
<h1>User Name <span th:text="${user.email}"></span></h1>
<h1><a href="" th:href="@{/logout}">Logout </a></h1>


</body>
</html>
 -->
